name: ci
on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: [16, 18]
    steps:
      - name: Checkout branch
        uses: actions/checkout@v3

      # Slightly fragile since it runs on the default node version
      # but until setup-node supports corepack (https://github.com/actions/setup-node/issues/531)
      # this is our best option
      - name: Enable core pack
        run: |
          corepack enable
          pnpm --version

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Build
        run: pnpm run build

      - name: Generate
        run: pnpm run generate

      - name: Lint
        run: pnpm run format --force

      - name: Test
        run: pnpm run test

      - name: Check changed files
        id: check_changed_files
        run: |
          git diff --name-only --exit-code

      - name: Report errors
        if: steps.check_changed_files.conclusion == 'failure'
        run: echo "::error::Formatting errors found. Please run 'pnpm run format' and commit the changes."
